<div class="loading-container" *ngIf="!arrTable.data.length ">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>



<!-- ANGULAR MATERIAL TABLE -->
<div>
    <div class="table_container_wrap">
        <table mat-table [dataSource]="arrTable" class="table" matSort>
            <!-- Program Name. # Column -->
            <ng-container matColumnDef="pName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Program Name</th>
                <td mat-cell *matCellDef="let product">{{product.brandName}}</td>
            </ng-container>

            <!-- Bill No. # Column -->
            <ng-container matColumnDef="billNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill No.</th>
                <td mat-cell *matCellDef="let product">{{product.billNo}}</td>
            </ng-container>

            <!-- Product Bill Date Column -->
            <ng-container matColumnDef="billDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Date</th>
                <td mat-cell *matCellDef="let product">{{product.billDate}}</td>
            </ng-container>

            <!-- Product Store Code Column -->
            <ng-container matColumnDef="storeCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Store Code</th>
                <td mat-cell *matCellDef="let product">{{product.storeCode}}</td>
            </ng-container>

            <!-- Product Customer Mobile Column -->
            <ng-container matColumnDef="customerMobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Mobile</th>
                <td mat-cell *matCellDef="let product">{{product.customerMobile}}</td>
            </ng-container>
            <!-- Product Member Id Column -->
            <ng-container matColumnDef="memberId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Member Id</th>
                <td mat-cell *matCellDef="let product">{{product.memberId}}</td>
            </ng-container>
            <!-- Product Loyalty Discount Column -->
            <ng-container matColumnDef="loyaltyDiscount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Loyalty Discount</th>
                <td mat-cell *matCellDef="let product">{{product.loyaltyDiscount}}</td>
            </ng-container>
            <!-- Product Point Redemption Column -->
            <ng-container matColumnDef="pointRedemption">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Point Redemption</th>
                <td mat-cell *matCellDef="let product">{{product.pointRedemption}}</td>
            </ng-container>
            <!-- Product Bill Value Column -->
            <ng-container matColumnDef="billValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Value</th>
                <td mat-cell *matCellDef="let product">{{product.billValue}}</td>
            </ng-container>
            <!-- Product Void Bill Column -->
            <ng-container matColumnDef="voidBill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Void Bill</th>
                <td mat-cell *matCellDef="let product">{{product.voidBill}}</td>
            </ng-container>
            <!-- Product Remarks Column -->
            <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
                <td mat-cell *matCellDef="let product">{{product.remarks}}</td>
            </ng-container>
            <!-- Product Duplicate Column -->
            <ng-container matColumnDef="billStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Duplicate</th>
                <td mat-cell *matCellDef="let product">
                    <div *ngIf="product.billStatus == '1'" class="duplicate">
                        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"
                            (click)="duplicateRecord(product,arrSelectedProgram)"></mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="rawDetails">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>RawDetails</th>
                <td mat-cell *matCellDef="let product" class="rawDetails">
                    <small class="icon-info-tooltip" data-tip="View Raw Data" tabindex="2" data-toggle="modal"
                        data-target=".bd-example-modal-lg">
                        <img src="/assets/images/view.svg" (click)="viewHeaderData(product)">

                    </small>

                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- <mat-footer-row *matFooterRowDef="['loading']" *ngIf="arrTable != null"></mat-footer-row> -->
            <!-- <mat-footer-row *matFooterRowDef="['noData']" *ngIf="!(arrTable == null && arrTable.data.length==0)"></mat-footer-row> -->
        </table>
        <div class="pagination_container">
            <mat-paginator fixed [length]="5" [pageSize]="10"
                [pageSizeOptions]="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]">
            </mat-paginator>
        </div>
    </div>
</div>
<div class="loading-container" *ngIf="loadingData">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">

                    <div class="card"  *ngIf="isHeader">

                        <div class='card-body' >
                            <div class="backbuttonSetting d-flex justify-content-between">

                                <h4 class="table_heading">Header

                                </h4>
                                <div class="backbuttonSetting d-flex justify-content-end">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                            </div>

                            <div class='dr-table'>
                                <table>
                                    <tbody>
                                        <tr class="table-header">

                                            <th>#File&nbsp;Id</th>
                                            <th>#Store&nbsp;Code</th>
                                            <th>#Mobile&nbsp;No</th>
                                            <th>#Name</th>
                                            <th>#Bill&nbsp;Date</th>
                                            <th>#Bill&nbsp;No</th>
                                            <th>#Loyalty&nbsp;Discount</th>
                                            <th>#Discounted&nbsp;Sale</th>
                                            <th>#Fresh&nbsp;Sale</th>
                                            <th>#Net&nbsp;Amt</th>
                                            <th>#Credit&nbsp;Note</th>
                                            <th>#Point&nbsp;Redemption&nbsp;Amt</th>
                                            <th>#Coupon&nbsp;Applied</th>
                                            <th>#Coupon&nbsp;Discount&nbsp;Applied</th>
                                            <th>#Insertion&nbsp;Date</th>
                                            <th>#Insertion&nbsp;Time</th>
                                            <th>#Status</th>
                                            <th>#Remarks</th>
                                            

                                        </tr>
                                        <tr *ngFor="let header of header;let i = index">
                                            <th>{{header?.fileId}}</th>
                                            <th>{{header?.storeCode}}</th>
                                            <th>{{header?.customerMobile}}</th>
                                            <th>{{header?.customerName}}</th>
                                            <th>{{header?.billDate | date}}</th>
                                           
                                            <th>{{header?.billNo}}</th>
                                            <th>{{header?.loyaltyDiscount}}</th>
                                            <th>{{header?.discountedSale}}</th>
                                            <th>{{header?.freshSale}}</th>
                                            <th>{{header?.netAmt}}</th>
                                            <th>{{header?.paidByCreditNote}}</th>
                                            <th>{{header?.pointRedemptionAmt}}</th>
                                            <th>{{header?.couponApplied}}</th>

                                            <th>{{header?.couponDiscountApplied}}</th>
                                            <th>{{header?.insertionDate | date}}</th>
                                            <th>{{header?.insertionTime}}</th>
                                            <th>{{header?.status}}</th>
                                            <th>{{header?.remarks}}</th>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card"  *ngIf="isRow">

                        <div class='card-body' >
                            <div class="backbuttonSetting d-flex justify-content-between">

                                <h4 class="table_heading">Item</h4>
                                <div class="backbuttonSetting d-flex justify-content-end">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                            </div>
                            <div class='dr-table'>
                                <table>
                                    <tbody>
                                        <tr class="table-header">
                                            <th>#Store&nbsp;Name</th>
                                            <th>#Store&nbsp;Code</th>
                                            <th>#Bill&nbsp;Date</th>
                                            <th>#Bill&nbsp;Time</th>
                                            <th>#Bill&nbsp;No</th>
                                            <th>#Sku&nbsp;Id</th>
                                            <th>#Quantity</th>
                                            <th>#Category</th>
                                            <th>#Group</th>
                                            <th>#Department</th>
                                            <th>#Rsp</th>
                                            <th>#Name</th>
                                            <th>#Mobile NO</th>
                                            <th>#Total&nbsp;Price</th>
                                            <th>#Billed&nbsp;Price</th>
                                            <th>#Mrp</th>
                                            <th>#Bill&nbsp;Promo&nbsp;Discount</th>
                                            <th>#Item&nbsp;Promo&nbsp;Discount</th>
                                            <th>#Loyalty&nbsp;Discount</th>
                                            <th>#Coupon&nbsp;Discount</th>
                                            <th>#Item&nbsp;Discount</th>
                                            <th>#Total&nbsp;Discount</th>
                                            <th>#Tax&nbsp;Amount</th>
                                            <th>#Coupon&nbsp;Code</th>
                                            <th>#Sales&nbsp;Person</th>
                                            <th>#Last&nbsp;Settlement&nbsp;Date</th>
                                            <th>#Member&nbsp;ID</th>
                                            <th>#Terminal&nbsp;ID</th>
                                            <th>#Insertion&nbsp;Date</th>
                                            <th>#Status</th>
                                            <th>#Remarks</th>
                                            <th>#Void&nbsp;Bill</th>
                                            <th>#File&nbsp;ID</th>
                                            <th>#Primary&nbsp;Order&nbsp;Number</th>
                                            <th>#Bill&nbsp;Value</th>
                                            <th>#Ref&nbsp;Bill&nbsp;No</th>
                                            <th>#Cashier&nbsp;ID</th>
                                            <th>#Remark</th>
                                            <th>#Return&nbsp;Amount</th>
                                            <th>#Sale&nbsp;Amount</th>
                                            <th>#Client&nbsp;Id</th>
                                            <th>#Channel</th>
                                            <th>#Delivery&nbsp;Mode</th>
                                            <th>#Customer&nbsp;Type</th>                                    
                                        </tr>
                                        <tr *ngFor="let raw of raw;let i = index">
                                            <th>{{raw?.storeName}}</th>
                                            <th>{{raw?.storeCode}}</th>
                                            <th>{{raw?.billDate | date}}</th>
                                            <th>{{raw?.billTime}}</th>
                                            <th>{{raw?.billNo}}</th>
                                            <th>{{raw?.skuid}}</th>
                                            <th>{{raw?.quantity}}</th>
                                            <th>{{raw?.category}}</th>
                                            <th>{{raw?.group}}</th>
                                            <th>{{raw?.department}}</th>
                                            <th>{{raw?.rsp}}</th>
                                            <th>{{raw?.customerName}}</th>
                                            <th>{{raw?.customerMobile}}</th>
                                            <th>{{raw?.totalPrice}}</th>
                                            <th>{{raw?.billedPrice}}</th>
                                            <th>{{raw?.mrp}}</th>
                                            <th>{{raw?.billPromoDiscount}}</th>
                                            <th>{{raw?.itemPromoDiscount}}</th>
                                            <th>{{raw?.loyaltyDiscount}}</th>
                                            <th>{{raw?.couponDiscount}}</th>
                                            <th>{{raw?.itemDiscount}}</th>
                                            <th>{{raw?.totalDiscount}}</th>
                                            <th>{{raw?.taxAmount}}</th>
                                            <th>{{raw?.couponCode}}</th>
                                            <th>{{raw?.salesperson}}</th>
                                            <th>{{raw?.lastSettlementDate}}</th>
                                            <th>{{raw?.memberID}}</th>
                                            <th>{{raw?.terminalID}}</th>
                                            <th>{{raw?.insertionDate | date}}</th>
                                            <th>{{raw?.status}}</th>
                                            <th>{{raw?.remarks}}</th>
                                            <th>{{raw?.voidBill}}</th>
                                            <th>{{raw?.fileID}}</th>
                                            <th>{{raw?.primaryOrderNumber}}</th>
                                            <th>{{raw?.billValue}}</th>
                                            <th>{{raw?.refBillNo}}</th>
                                            <th>{{raw?.cashierID}}</th>
                                            <th>{{raw?.remark}}</th>
                                            <th>{{raw?.returnAmount}}</th>
                                            <th>{{raw?.saleAmount}}</th>
                                            <th>{{raw?.clientId}}</th>
                                            <th>{{raw?.channel}}</th>
                                            <th>{{raw?.deliverymode}}</th>
                                            <th>{{raw?.customertype}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card"  *ngIf="isRow">
                        <div class='card-body' >
                            <div class="backbuttonSetting d-flex justify-content-between">
                                <h4 class="table_heading">Tender</h4> 
                            </div>
                            <div class='dr-table'>
                                <table>
                                    <tbody>
                                        <tr class="table-header">
                                            <th>#Id</th>
                                            <th>#Store&nbsp;Code</th>
                                            <th>#MemberId</th>
                                            <th>#Date</th>
                                            <th>#BillId</th>
                                            <th>#Amount</th>
                                            <th>#Id</th>
                                            <th>#Loyalty</th>
                                            <th>#File&nbsp;ID</th>
                                            <th>#Insertion&nbsp;Date</th>
                                            <th>Desc</th>  
                                        </tr>
                                        <tr *ngFor="let tender of tender;let i = index">
                                            <th>{{tender?.id}}</th>
                                            <th>{{tender?.storeCode}}</th>
                                            <th>{{tender?.memberId}}</th>
                                            <th>{{tender?.date}}</th>
                                            <th>{{tender?.billId}}</th>
                                            <th>{{tender?.tenderAmount}}</th>
                                            <th>{{tender?.tenderCode}}</th>
                                            <th>{{tender?.tenderId}}</th>
                                            <th>{{tender?.isLoyalty}}</th>
                                            <th>{{tender?.insertionTime}}</th>
                                            <th>{{tender?.tenderdesc}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>