
// global-variable
$header-color: #262626;
$body-bg-color: #F3F3F3;
$theme-color: #00B894;
$color-red: #FF4B4B;
$color-valid-error:#E53935;
$color-invalid-error:#B71c1c;
$color-magenta: #bc649c;
$color-pink: #f494c8;
$color-green: #84C140;
$color-light-green: #BCD533;
$color-blue: #94d0ea;
$color-dark-grey: #9A9A9A;
$color-light-grey: #f9f9f9;
$color-extra-light-grey: #F4F4F4;
$color-orange: #E37826;
$color-light-orange: #EB9822;
$color-extra-light-orange: #FCAF17;
$color-white: #ffffff;
$border-color: #eeecec;
$notification-bg: #cee3f0;
$color-light-black: #4A4A4A;
$color-black: #000000;
$color-yellow: #f9e907;
$box-shadow-color: rgba(0,0,0,.2);
$black-overlay: rgba(0,0,0,0.7);
$white-overlay: rgb(247, 247, 247);
$placeholder-color: #acacac;
$color-background: #e1fbfa;
$color-info: #F7B500;
$font-roboto: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-h1: 34px;
$font-h2: 30px;
$font-h3: 24px;
$font-h4: 18px;
$font-h5: 16px;
$font-h6: 14px;


